<template name="homepage">

    {{> turnSummary}}

    <hr/>

    <h3>Actions:</h3>
    {{#if session.isMyTurn}}
    {{> playerActions}}
    {{/if}}

    <h3>Action ahfaoifhaiufgaiufgai:</h3>
    <ul class="actions">
        {{#each actions}}
        {{> actionHistoryItem}}
        {{/each}}
    </ul>
    <!--{{> actionHistory}}-->

</template>

<template name="turnSummary">
    {{game.position}} / {{player.position}}

    {{#if session.isMyTurn}}
    <h3>It's your turn!</h3>
    {{/if}}
    Phase: {{session.phase.title}}
</template>

<template name="actionHistory">
    <ul class="actions">
        {{#each actions}}
        {{> actionHistoryItem}}
        {{/each}}
    </ul>
</template>

<template name="actionHistoryItem">
    <li class="action action-{{type}}">{{player}}, {{type}}, {{data.sum}}</li>
</template>

<template name="rollAction">
    <button id="rollDice">Roll Dice</button>
</template>

<template name="resourceProduction">
    <button id="advancePhase">Advance phase</button>
</template>

<template name="buildAction">
    <button id="openTrade">Trade</button>
    <button id="build">Build</button>
    <button id="endTurn">End Turn</button>
</template>



<template name="playerActions">
    {{#with getActions game.phase}}
    {{> UI.dynamic template=key}}
    {{/with}}
    <p>

    </p>
</template>




<template name="gameItem">
    <li class="game">
        <h3><a href="#" class="loadGame">{{_id}}</a></h3>
    </li>
</template>