<template name="header">
    <!--<div class="header">
      <h1>Void</h1>
      <ul>
        <li><a href="{{pathFor 'homepage'}}">Homepage</a></li>
        <li><a href="{{pathFor 'content'}}">Content page</a></li>
        <li><a href="{{pathFor 'items'}}">Items</a></li>
        <li><a href="/404">404 Link</a></li>
        {{#if isLoggedIn}}
          <li><a href="/" class="log-out">Log Out</a></li>
        {{else}}
          <li><a href="{{pathFor 'signup'}}">Sign Up</a></li>
          <li><a href="{{pathFor 'login'}}">Log In</a></li>
        {{/if}}
      </ul>
    </div>
    -->

    <div class="debug">

        {{> turnSummary}}


        Players:
        <ul>
            {{#each players}}
            {{> playerItem}}
            {{/each}}
        </ul>

        Active Games:
        <ul>
            {{#each games}}
            {{> gameItem}}
            {{/each}}
        </ul>

        <h3>Game Info</h3>
        <p>
            current game: {{game._id}},
            current turn: {{ game.turn }},
            position: {{game.position}},
            phase: {{game.phase}}
        </p>

        Session Info:
        <p style="color:{{player.color}}">
            current player: {{ player._id}}, {{ player.first_name}} {{player.last_name}}
        </p>


        {{> actionHistory}}
    </div>



</template>

<template name="playerItem">
    <li class="player">
        <h3><a href="#" class="setPlayer">{{_id}}</a></h3>
    </li>
</template>


<template name="turnSummary">
    {{game.position}} / {{player.position}}

    {{#if session.isMyTurn}}
    <h3>It's your turn!</h3>
    {{/if}}
    Phase: {{session.phase.title}}
</template>


<template name="actionHistory">
    <h3>Actions:</h3>
    {{#if session.isMyTurn}}
    {{> playerActions}}
    {{/if}}

    <h3>Action:</h3>
    <ul class="actions">
        {{#each actions}}
        {{> actionHistoryItem}}
        {{/each}}
    </ul>

    <ul class="actions">
        {{#each actions}}
        {{> actionHistoryItem}}
        {{/each}}
    </ul>
</template>

<template name="actionHistoryItem">
    <li class="action action-{{type}}">{{player}}, {{type}}, {{data.sum}}</li>
</template>